In [1]:
import pandas as pd
import seaborn as sns

In [2]:
riders = pd.read_csv('riders.csv')
train = pd.read_csv('train.csv')

In [3]:
train.rename(columns={'Order No': 'Order_No'}, inplace=True)

In [4]:
train['Order_No'] = train['Order_No'].str.replace('Order_No_', '')

In [5]:
train['Order_No'] = train['Order_No'].astype(int)

In [6]:
train.rename(columns={'User Id': 'User_Id'}, inplace=True)
train['User_Id'] = train['User_Id'].str.replace('User_Id_', '')
train['User_Id'] = train['User_Id'].astype(int)

In [9]:
train.rename(columns={'Rider Id': 'Rider_Id'}, inplace=True)
train['Rider_Id'] = train['Rider_Id'].str.replace('Rider_Id_', '')
train['Rider_Id'] = train['Rider_Id'].astype(int)

In [10]:
train.head()

,Order_No,User_Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Arrival at Destination - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider_Id,Time from Pickup to Arrival
0,4211,633,Bike,3,Business,9,5,9:35:46 AM,9,5,...,10:39:55 AM,4,20.4,NaN,-1.317755,36.830370,-1.300406,36.829741,432,745
1,25375,2285,Bike,3,Personal,12,5,11:16:16 AM,12,5,...,12:17:22 PM,16,26.4,NaN,-1.351453,36.899315,-1.295004,36.814358,856,1993
2,1899,265,Bike,3,Business,30,2,12:39:25 PM,30,2,...,1:00:38 PM,3,NaN,NaN,-1.308284,36.843419,-1.300921,36.828195,155,455
3,9336,1402,Bike,3,Business,15,5,9:25:34 AM,15,5,...,10:05:27 AM,9,19.2,NaN,-1.281301,36.832396,-1.257147,36.795063,855,1341
4,27883,1737,Bike,1,Personal,13,1,9:55:18 AM,13,1,...,10:25:37 AM,9,15.4,NaN,-1.266597,36.792118,-1.295041,36.809817,770,1214